.bg-colors{
    background-color: var(--card);
    border: 3px solid var(--main);
    border-radius: 6px;
    padding: 20px;
}
label {
    margin-bottom: 4px;
    color: white;
}
input, select, input:focus, select:focus {
    height: 50px;
    width: 100%;
    border: 1px solid #fff;
    margin-bottom: 5px;
    background: var(--card);
    color: #fff;
    border-left: 5px solid var(--main);
    border-right: 5px solid var(--main);
    appearance: none;
    box-shadow: none;
}
select{
    font-size: 19px;
}
.addons{
    gap: 10px;
    padding-bottom: 10px;
}
.addons input {
    border-radius: 5px;
    margin: 0;
}

.addons button {
    background-color: #850000;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    border: none;
}
ul{
    padding: 0;
}
ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid #fff;
    color: white;
}