
select option{
  background-color: #000;
}

label{
  font-family: 'legend';
  letter-spacing: 2px;
  cursor: pointer;
  margin-bottom: 10px;
}
label a{
  color: #bd0f0f  ;
}
.time {
  display: flex;
  justify-content: space-between;
}
.teams{
  display: flex;
  justify-content: space-between;
}




.btn .btn-outline-secondary:hover{
  background: transparent;
}

button.btn-outline-primary{
  background-color: #bd0f0f;
  color: #fff;
  border: none;
}

ul {
 gap: 20px;
}
.booked_cricket_court{
  border: 2px solid #fff;
}

.time_row {
  display: flex;
  gap: 14px;
  align-items: center;
}
.time_row  select{
  margin: 0;
}

select::ng-deep .mat-select-arrow {
  color: red;
}

.buttons_row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.booked_cricket_court p:first-child span {
  font-size: 18px;
  color: #d50404;
}

.booked_cricket_court p {
  text-align: center;
  gap: 13px;
}

.booked_cricket_court {
  border-radius: 5px;
  background: #444;
  padding: 15px !important;
}


.booked_cricket_court p:nth-child(2) span {
  font-size: 18px;
}
.booked_cricket_court p:last-child{
  text-align:center;
}
.booking_details  li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.booking_details  li span {
  font-size: 13px;
  padding-left: 10px;
  width: 55%;
}

.booking_final{
  border: 2px solid var(--main);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto 20px auto;
  background: var(--card);
  position: relative;
}
.form-error{
  position: relative;
  top: -17px;
}

tr {
  border-bottom: 1px solid #fff;
}

table {
  width: 100%;
}

#myElement{
  display: none;
}


.loading{
  height: 200px;
  display: flex;
  justify-content: center;
}


/* li inputs  */
li.input_li {
  justify-content: start!important;
}

li.input_li input {
  margin: 0 !important;
  border: none !important;
  width: 100% !important;
  font-family: 'poppins' !important;
}

li.input_li input:focus-visible {
  outline: none !important;
}
/* li inputs  */


li span{
  font-family: 'poppins' !important;
}

li.input_li.wrong_input   {
  border-bottom: 1px solid red !important;
}
/*
table td ,table th {
  padding: 10px;
} */


.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.confirmModal {
  text-align: center;
  padding: 20px;
}

.confirmModal * {
  color: #000;
}

.confirmModal h4 {
  font-size: 50px;
  font-weight: 600;
}

.modal-btn {
  gap: 22px;
}

.modal-btn button:last-child {
  background: green;
  color: #fff !important;
  border: none;
  width: 120px;
}

.modal-btn button:first-child {
  background: #850000;
  color: #fff !important;
  border: none;
  width: 120px;
}

.confirmModal img {
  width: 170px;
}

a.material-icons.dl.d-anchor {
  pointer-events: none;
}

.d-dltt {
  cursor: not-allowed;
}


.badminton-slots{
  position: relative;
}
.badminton-slots input {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.badminton-slots span {
  color: #000;
  font-size: 20px;
  height: 65px;
  width: 100%;
  background: #4aff3e;
  padding: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.badminton-slots input:checked+span {
  background: #808080;
  color: #fff;
}
.badminton-slots input:disabled+span {
  background: #850000;
  color: #fff;
}

.isHold {
  padding: 20px;
  border: 5px solid #fff;
  border-radius: 20px;
}

.container.isHold .theme_heading h3 {
  gap: 100px;
}
.slot_time {
  background: var(--card);
  padding: 70px;
  border-radius: 6px;
  border: 1px solid var(--main);
box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}
select{
  width: 100%;
  height: 50px;
  padding: 10px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  margin-bottom: 20px;
  border-radius: 5px;
}
ul {
  padding: 0;
}
ul li{
  color: white;
  list-style: none;
}
.input_li input{
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
  color: white;
}

.border_red{
border-color: red;
}
.label{
display: inline;
padding: 0.2em 0.6em 0.3em;
font-size: 75%;
font-weight: 700;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: 0.25em;
padding: 3px;
}
.label-success {
background-color: #5cb85c;
}


/* --Bill-- */
.invoice {
margin: 10px auto;
max-width: 800px;
padding: 5px;
}
.invoice-header {
margin-bottom: 10px;
}
.invoice-header h1 {
font-size: 24px;
font-weight: bold;
margin: 0;
}
.invoice-header p {
margin: 0;
}
.invoice-table {
border-collapse: collapse;
width: 100%;
}
.invoice-table th, .invoice-table td {
border-bottom: 1px solid #ccc;
padding: 5px;
text-align: left;
}
.invoice-table th {
background-color: #f2f2f2;
}
.invoice-total {
display: flex;
justify-content: flex-end;
margin-bottom: -25px;
}
.invoice-total p {
font-weight: bold;
margin-left: 10px;
}
.date{
display: flex;
justify-content: space-between;
}
.text-center{
text-align: center;
}
.my-5{
margin-top: 2.5rem;
}
.qty{
margin: auto;
}
tr td:first-child{
width: 40rem;
}
.text-center span{
color: #ccc;
font-size: 10px !important;
}
.img img{
width: 80%;
}
.img{
display: flex;
justify-content: center;
margin-bottom: 30px;
}
.th{
text-align: center !important;
}
.invoice-total p{
padding-right: 3px;
}
/* --Bill End -- */
.selected {
background-color: gray !important;
}


.loader-click {
width: 16px;
height: 16px;
border-radius: 50%;
display: block;
margin:15px auto;
position: relative;
background: #FFF;
box-shadow: -24px 0 #FFF, 24px 0 #FFF;
box-sizing: border-box;
animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
33% {
  background: #FFF;
  box-shadow: -24px 0 #FF3D00, 24px 0 #FFF;
}
66% {
  background: #FF3D00;
  box-shadow: -24px 0 #FFF, 24px 0 #FFF;
}
100% {
  background: #FFF;
  box-shadow: -24px 0 #FFF, 24px 0 #FF3D00;
}
}
.btnx{
left: 20px;
position: absolute;
}
.tbodyy tr,th,td{
padding: 5px !important;
}
