@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
.deactive {
  background-color: #06992a57;
}
.active {
  background: #4aff3e;
}
.modal-content {
  padding: 40px;
  background: var(--card) !important;
  box-shadow: #ffffff59 0 5px 15px;
}
.modal-dialog {
  max-width: 1000px !important;
}
ul.slots {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin: 40px;
}
ul.slots li {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal.show .modal-dialog {
  max-width: 1000px;
}
.modal-content {
  padding: 40px;
  background: #141313;
  box-shadow: rgb(255 255 255 / 35%) 0px 5px 15px;
}
.slots .selected {
  background: green;
}
#time {
  display: none;
}
.btn-primary {
  background-color: #0050b8;
  border: none;
  color: #fff;
}
span.close-btn {
  position: absolute;
  right: 18px;
  top: 12px;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}
.slots_loading {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.add-player button {
  background: #850000;
  color: #fff;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin-right :10px ;
}
.add-player button:disabled{
  background-color: #ccc;
}
.slots_loading::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #850000;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.slot_box2,
.slot_box {
  height: 100%;
  width: 100%;
  background-color: #ff000024;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.slot_box2 {
  background-color: #ff000024;
}
.slot_box {
  position: absolute;
}
.slot_box2:before {
  content: "Booked";
  position: absolute;
  color: #fff;
  top: 2px;
}
.exp_date {
  font-size: 10px;
  line-height: 1;
  text-align: center;
}
.exp_date {
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  color: white;
}
.ptext p {
  font-size: 18px;
  text-align: left;
}
.ptext span:last-child p {
  text-align: right;
}
.valid {
  border-color: green !important;
}
.invalid {
  border-color: red !important;
}
.errr {
  color: red;
  text-align: center;
}
.error .pastTime {
  bottom: -64px;
}
.error:nth-child(2) {
  bottom: -60px;
}
ul.slots li > input {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: -1;
}
ul.slots li {
  background-color: #bd0f0f;
  border-radius: 10px;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-align: center;
  padding: 5px !important;
  position: relative;
}
ul.slots li span {
  font-size: 14px !important;
  font-family: 'Poppins';
}
.slots {
  transition: 0.5s;
}
.pex input {
  margin-right: 10px;
  height: 20px;
  width: 20px;
}
.pex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pex label {
  cursor: pointer;
}
.loader-div {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #bd0f0f #bd0f0f transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #fff #fff;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 100px;
  height: 100px;
  border-color: #850000 #850000 transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.slot_box2 {
  background-color: #850000 !important;
}

ul.slots li .input_field input {
  width: 100%;
  background: transparent;
  color: #fff;
  margin-bottom: 10px;
  border: 1px solid #fff;
  padding: 7px;
  border-radius: 2px;
}

/* ul.slots li input:checked+span+.input_field{
    display: block;
  } */
ul.slots li .input_field input::placeholder {
  color: #fff;
  font-size: 13px;
}

ul.slots li .input_field {
  position: absolute;
  background-color: transparent;
  width: 200px;
  border-radius: 5px;
  /* width: 200px;
    background: #141313;
    height: 150px; */
  /* display: none; */
  padding: 10px;
  z-index: 111111111111111111;
  animation: scale 0.5s;
}

ul.slots li .input_field::before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  backdrop-filter: blur(10px);
  z-index: -1;
  left: 0;
  top: 0;
  background: #000000b8;
  border-radius: 9px;
}
ul.slots li > input:disabled + .slots {
  background: #850000;
}
.error_border {
  border: 1px solid red !important;
}
.input_field button {
  border: none;
  color: #fff;
  width: 100%;
  background: transparent;
  border-radius: 5px;
  border: 1px solid;
  transition: 0.5s;
}
.error {
  background: none !important;
  color: #bd0f0f !important;
  font-size: 13px !important;
  padding: 0 !important;
  margin: 0 !important;
  display: inline-block !important;
  position: absolute;
  bottom: -90px;
  left: 1px;
}
.input_field button:hover {
  background: green;
}
.input_field .discard:hover {
  background-color: #bd0f0f;
}
.book i {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
span.slots {
  width: 100%;
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
/* .slots li .checkbox.checked {
  background-color: #545151f7;
  padding: 0;
  z-index: 1;
  position: relative;
} */

ul.slots li > input {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
}
/* .slots li .checkboxx:checked .span.slots {
  background-color: #545151f7;
  padding: 0;
  z-index: 9999999;
  position: absolute;
} */
.cutom_tooltip {
  position: absolute;
  width: 66%;
  background: #000;
  border: 1px solid #fff;
  color: white;
  text-align: center;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1;
  padding: 5px;
}
.cutom_tooltip.top {
  top: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
ul.slots li .slots {
  background-color: #4aff3e;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  color: #000;
  text-align: center;
  padding: 5px !important;
}
span.edit_icon {
  position: absolute;
  top: 0;
  right: 8px;
  color: #fff;
  display: none;
}
.tbodyy th{
    width: 165px;
}
.errorr {
    border-bottom: 1px solid red;
  }
.errr {
    color: red;
    text-align: center;
  }
  .material-icons{
    user-select: none;
  }


  .s_loading {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}


.no_data {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  position: absolute;
  height: 105%;
  z-index: 111;
  top: -13px;
}

.no_data p {
  background: #ff000024;
  padding: 14px 20px;
  border: 1px solid red;
  border-radius: 10px;
  position: absolute;
}

.blur::before{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  backdrop-filter: blur(4px);
}
.no_data p {
  animation: slideInBottom 0.5s ease-out;
  /* opacity: 0; */
}

@keyframes slideInBottom {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
      max-width: 400px;
    margin: 0 auto;
} */



.confirmModal {
  text-align: center;
  padding: 20px;
}

.confirmModal * {
  color: #000;
}

.confirmModal h4 {
  font-size: 50px;
  font-weight: 600;
}

.modal-btn {
  gap: 22px;
}

.modal-btn button:last-child {
  background: green;
  color: #fff !important;
  border: none;
  width: 120px;
}

.modal-btn button:first-child {
  background: #850000;
  color: #fff !important;
  border: none;
  width: 120px;
}

.confirmModal img {
  width: 170px;
}

a.material-icons.dl.d-anchor {
  pointer-events: none;
}

.d-dltt {
  cursor: not-allowed;
}


/* add player  */
input.input_modal {
  background: transparent;
  border: 1px solid rgb(255, 255, 255);
  padding: 11px;
  border-radius: 4px;
  display: block;
  margin-top: 15px;
  width: 400px;
  color: rgb(255, 255, 255);
  outline: none;
  appearance: none;
  }
  .inputss {
  display: block;
  margin: auto;
  }
  .inputss button{
  margin-top: 10px;
  width: 100%;
  }
  .input-error{
    border-color: #850000 !important;
  }
  .select-time>span {
    font-size: 20px;
    color: white;
  }

  .select-time {
    margin-top: 50px;
  }
  
.time-box-wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    flex-flow: wrap;
  }
  .time-btn {
    width: 30%;
    position: relative;
    margin: 35px 0;
    height: 62px;
    border-radius: 10px;
  }
  
  .time-btn input {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .time-btn span {
    color: white;
    font-size: 20px;
    height: 65px;
    width: 100%;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .time-btn p {
    color: white;
  }
  .activez input:checked + span{
    background-color: red !important;
  }

  .inputx input {
    width: 100%;
    height: 50px;
    margin: 5px 0;
    color: white;
    padding-left: 10px;
    background: var(--card);
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 8px;
}
.datee{
    color: white;
}
.main-div h4{
    color: white;
    margin-top: 1rem;
}
.form-select {
  color: white;
  background-color: var(--card);
}
.addons button {
  background-color: #850000;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  border: none;
}
.addons input {
  border: 1px solid;
  border-radius: 5px;
  margin: 0;
  background: transparent;
  height: 40px;
  color: #fff;
  text-align: center;
}
.addons{
  gap: 10px;
}
.btnnz{
  display: block;
    margin: auto;
    left: 30px;
    position: absolute;
}
.main-div{
  position: relative;
}
.mda{
  padding: 0;
}
tr, td, th{
  padding: 4px !important;
  font-size: 15px;
}