<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-3">
                <a routerLink="/Paintball">
                    <div class="cardz">
                        <div class="wrapper">
                          <img src="../../../assets/img/games/bg.png" class="cover-image" />
                          <img src="../../../assets/img/games/paint-ball-bnda.png" class="character-cover"/>
                        </div>
                        <h1 class="title">Paintball</h1>
                        <img src="../../../assets/img/games/paint-ball-bnda.png" class="character"/>
                      </div>
                    </a>
                  </div>
        <div class="col-md-3">
          <a routerLink="/Indoor-Cricket">
            <div class="cardz">
              <div class="wrapper">
                <img src="../../../assets/img/games/cricket-bg.png" class="cover-image" />
                <img src="../../../assets/img/games/cricket-man.png" class="character-cover"/>
              </div>
              <h1 class="title">Indoor Cricket</h1>
              <img src="../../../assets/img/games/cricket-man.png" class="character" />
            </div>
          </a>
        </div>
        <div class="col-md-3">
                <a routerLink="/Gel-Blaster">
                  <div class="cardz">
                    <div class="wrapper">
                      <img src="../../../assets/img/games/gel-bg.png" class="cover-image" />
                      <img src="../../../assets/img/games/gel-man.png" class="character-cover"/>
                    </div>
                    <h1 class="title">Gel Blaster</h1>
                    <img src="../../../assets/img/games/gel-man.png" class="character" />
                  </div>
                </a>
        </div>
        <div class="col-md-3">
                <a routerLink="/Badminton">
                  <div class="cardz">
                    <div class="wrapper">
                      <img src="../../../assets/img/games/badminton-bg.png" class="cover-image" />
                      <img src="../../../assets/img/games/badminton-rackets.png" class="character-cover"/>
                    </div>
                    <h1 class="title">Badminton</h1>
                    <img src="../../../assets/img/games/badminton-rackets.png" class="character" />
                  </div>
                </a>
        </div>
        <div class="col-md-3">
              <a routerLink="/Futsal">
                <div class="cardz">
                  <div class="wrapper">
                    <img src="../../../assets/img/games/futsal-Bg.png" class="cover-image" />
                    <img src="../../../assets/img/games/futsal-man.png" class="character-cover"/>
                  </div>
                  <h1 class="title">Futsal</h1>
                  <img src="../../../assets/img/games/futsal-man.png" class="character" />
                </div>
              </a>
            </div>
            <div class="col-md-3">
              <a routerLink="/Archery">
                <div class="cardz">
                  <div class="wrapper">
                    <img src="../../../assets/img/games/archery-bg.png" class="cover-image" />
                    <img src="../../../assets/img/games/archer-man.png" class="character-cover"/>
                  </div>
                  <h1 class="title">Archery</h1>
                  <img src="../../../assets/img/games/archer-man.png" class="character" />
                </div>
              </a>
            </div>
        <div class="col-md-3">
               <a routerLink="/Airsoft-Range">
                <div class="cardz">
                  <div class="wrapper">
                    <img src="../../../assets/img/games/airsoft-man.png" class="cover-image" />
                    <img src="../../../assets/img/games/airsoft-range-man.png" class="character-cover"/>
                  </div>
                  <h1 class="title">Airsoft Range</h1>
                  <img src="../../../assets/img/games/airsoft-range-man.png" class="character" />
                </div>
               </a>
        </div>
        <!-- <div class="col-md-3">
                <a routerLink="/">
                  <div class="cardz">
                    <div class="wrapper">
                      <img src="https://ggayane.github.io/css-experiments/cards/force_mage-cover.jpg" class="cover-image" />
                    </div>
                    <img src="https://ggayane.github.io/css-experiments/cards/force_mage-title.png" class="title" />
                    <img src="https://ggayane.github.io/css-experiments/cards/force_mage-character.webp" class="character" />
                  </div>
                </a>
        </div> -->
    </div>
</div>
<app-footer></app-footer>
